<div class="container-xl">
    <div class="row mb-5 pb-5">
        <div id="img_container" class="col-lg-7 col-md-12 mb-4">
            <div class="product__detail--img">
                <img class="w-100" src="{{product.image}}" alt="">
            </div>
        </div>
        <div class="col-lg-5 col-md-12">
            <div class="router--detail color--light--no-hover pb-4">
                <a href="/" class="color--light text-decoration-none">Home </a>/
                <a href="" class="color--light text-decoration-none text-capitalize">{{product.category}} </a>/
                <span class="text-capitalize">{{product.name}}</span>
            </div>
            <h1 class="product--name font--primary text-uppercase fs-3 pt-2">{{product.name}}</h1>
            <p class="pb-3 pt-3 router--priceContainer">
                <span id="price" class="pe-1 fs-4 color--primary">${{calcCurrentPrice product.cost product.discount}}</span>
                {{#isPositive product.discount}}
                <span class="fs-4"><del>${{product.cost}}</del></span>
                <span style="font-size: 12px;" class="ps-3 fw-bold">Saved {{convertToPercent product.discount}}%</span>
                {{/isPositive}}
            </p>
            <div class="border-bottom-primary pt-4 pb-4 border-top-primary">
                <p class="product--detail__desc color--light--no-hover">{{product.desc}}</p>
                <p class="color--primary fw-normal">In Stock</p>
                {{#if session.user}}
                <form method="POST" action="/cart/add-to-cart/{{product._id}}" type="hidden">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-type-number border--primary d-flex h-100 align-items-center pe-3 ps-3">
                                <div class="btn-minus fs-6">
                                    <i class="fa-solid fa-minus"></i>
                                </div>
                                <input value="1" class="w-100 h-100 border-0 text-center" id="quantity" min="1" name="quantify" type="number" />
                                <div class="btn-plus fs-6 ">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-9">
                            <input type="hidden" name="product_id" value="{{product._id}}">
                            <input type="hidden" name="user_id" value="{{session.user._id}}">
                            <button type="submit" id="add-to-cart" class="h-100 btn--primary btn--light text-white text-uppercase border-0 pt-2 pb-2 w-100">add to cart</button>
                        </div>
                    </div>
                </form>
                {{else}}
                <div class="row">
                    <div class="col-3">
                        <div class="form-type-number border--primary d-flex h-100 align-items-center pe-3 ps-3">
                            <div class="btn-minus fs-6">
                                <i class="fa-solid fa-minus"></i>
                            </div>
                            <input value="1" class="w-100 h-100 border-0 text-center" id="quantity" min="1" name="quantify" type="number" />
                            <div class="btn-plus fs-6 ">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <button type="submit" data-id="{{product._id}}" class="btn-add h-100 btn--primary btn--light text-white text-uppercase border-0 pt-2 pb-2 w-100">add to cart</button>
                    </div>
                </div>
                {{/if}}
                <a href="#" data-id="{{product._id}}" data-bs-target="#ModalWishlist" data-bs-toggle="modal" class="add-to-wishlist color--light text-decoration-none text-uppercase mt-4 d-inline-block">
                    <i class="fa-regular fa-heart" data-id="{{product._id}}"></i>
                    add to wishlist
                </a>
            </div>
            <ul class="ps-0 pt-4">
                <li class="pb-2">
                    <span class="color--light--no-hover">SKU: </span>
                    <span class="text-dark">TERW001</span>
                </li>
                <li class="pb-2">
                    <span class="color--light--no-hover">Categories: </span>
                    <span class="text-dark text-capitalize">{{product.category}}</span>
                </li>
                <li class="pb-2">
                    <span class="color--light--no-hover">Tags: </span>
                    <span class="text-dark">
                        <a href="#" class="text-dark text--dark-hover text-decoration-none">Life Style</a>,
                        <a href="#" class="text-dark text-decoration-none text--dark-hover ">Trend</a>
                    </span>
                </li>
                <li>
                    <span class="color--light--no-hover">Share: </span>
                    <a class="text-dark text--dark-hover ms-2 text-decoration-none" href="">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a class=" text-dark text--dark-hover ms-2 text-decoration-none" href="">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a class=" text-dark text--dark-hover ms-2 text-decoration-none" href="">
                        <i class="fa-brands fa-pinterest-p"></i>
                    </a>
                    <a class=" text-dark text--dark-hover ms-2 text-decoration-none" href="">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab__container mb-5">
        <div class="d-flex justify-content-center align-items-center pb-3 border-bottom-primary mb-5 flex-wrap gap-3">
            <h2 class="tab__panes font--primary me-3 ms-3 color--light active">Description</h2>
            <h2 class="tab__panes font--primary me-3 ms-3 color--light">Additional Information</h2>
            <h2 class="tab__panes font--primary me-3 ms-3 color--light">Reviews</h2>
            <h2 class="tab__panes font--primary me-3 ms-3 color--light">Q&A</h2>
        </div>
        <div class="tab__list--content">
            <div class="tab__items--container active">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="tab__items--desc">
                            <h5 class="mb-4">How it made?</h5>
                            <p class="mb-4 color--light--no-hover">Looking back over the last 50 years of watch design, we’ve taken notes from classic design principles to create this collection, both understated in silhouette and colour palette.</p>
                            <p class="mb-4 color--light--no-hover">The 7mm case is the thinnest in our collection and is proportionally balanced by an acutely tapered crown. The watch features some of our core branding elements: a red accent on the second hand and modest logo on the face and buckle.</p>
                            <h5 class="mb-4">How to preservation</h5>
                            <ul style="list-style: inside;" class="color--light--no-hover ps-0">
                                <li>Duis felis neque porta sed elit</li>
                                <li>Class aptent taciti sociosqu torquent conubia</li>
                                <li>Etiam gravida quis magna posue tincidunt</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="tab__items--desc-img">
                            <img class="w-100" src="/img/descImg.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab__items--container">
                <table class="table table-bordered color--light--no-hover">
                    <tr>
                        <td>Weight</td>
                        <td>0.8kg</td>
                    </tr>
                    <tr>
                        <td>Dimensions</td>
                        <td>35 × 50 × 40 cm</td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td>Black, Gold</td>
                    </tr>
                </table>
            </div>
            <div class="tab__items--container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="board__reviews border--primary text-center p-4 mb-4">
                            <h1 class="font--primary color--light--no-hover mb-4">0</h1>
                            <div class="rating d-flex justify-content-center mb-2 fs-13 color--primary">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p class="fs-13 color--light--no-hover">0 Reviews, 0 Q&As</p>
                            <div class="rating--percent mb-4 fs-13">
                                <div class="d-flex justify-content-center align-items-center mb-2">
                                    <span>5 Stars</span>
                                    <span style="height: 4px; border-radius: 99999px" class=" flex-grow-1 bg--primary ms-3 me-3"></span>
                                    <span>0%</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center mb-2">
                                    <span>4 Stars</span>
                                    <span style="height: 4px; border-radius: 99999px" class=" flex-grow-1 bg--primary ms-3 me-3"></span>
                                    <span>0%</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center mb-2">
                                    <span>3 Stars</span>
                                    <span style="height: 4px; border-radius: 99999px" class=" flex-grow-1 bg--primary ms-3 me-3"></span>
                                    <span>0%</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center mb-2">
                                    <span>2 Stars</span>
                                    <span style="height: 4px; border-radius: 99999px" class=" flex-grow-1 bg--primary ms-3 me-3"></span>
                                    <span>0%</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center mb-2">
                                    <span>1 Stars</span>
                                    <span style="height: 4px; border-radius: 99999px" class=" flex-grow-1 bg--primary ms-3 me-3"></span>
                                    <span>0%</span>
                                </div>
                            </div>
                            <button type="submit" class="btn--primary btn--light text-white border-0 pt-2 pb-2 w-100 mb-2">Write a review</button>
                            <button type="submit" class="btn--primary btn--light text-white border-0 pt-2 pb-2 w-100 mb-2">Ask a Question</button>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="info pb-5 border-bottom-primary">
                            <div class="pb-2 your_star_rating d-flex align-items-center">
                                <p class="m-0">Your rating: <span class=" text-danger me-3">*</span></p> 
                                <div class="d-flex flex-row-reverse align-items-center">
                                    <div id="rating--1" class="rating__container">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-solid fa-star hidden color--primary"></i>
                                    </div>
                                    <div id="rating--2" class="rating__container">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-solid fa-star hidden color--primary"></i>
                                    </div>
                                    <div id="rating--3" class="rating__container">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-solid fa-star hidden color--primary"></i>
                                    </div>
                                    <div id="rating--4" class="rating__container">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-solid fa-star hidden color--primary"></i>
                                    </div>
                                    <div id="rating--5" class="rating__container">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-solid fa-star hidden color--primary"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input--group mb-4">
                                <label class="mb-2" for="">Give your review a title</label>
                                <input type="text" name="" id="" class="w-100">
                            </div>
                            <div class="input--group mb-4">
                                <label class="mb-2" for="">Your review</label>
                                <textarea type="text" name="" id="" class="w-100"></textarea>
                            </div>
                            <div class="input--group mb-4">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="mb-2" for="">Name: <span class="text-danger">*</span></label>
                                        <input type="text" name="" id="" class="w-100">
                                    </div>
                                    <div class="col-6">
                                        <label class="mb-2" for="">Email: <span class="text-danger">*</span></label>
                                        <input type="text" name="" id="" class="w-100">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button style="padding-top: 12px; padding-bottom: 12px" type="submit" class="btn--primary btn--light text-white border-0 pe-4 ps-4 text-uppercase me-3"><i class="fa-solid fa-camera-retro me-2"></i> add photos</button>
                                <button style="padding-top: 12px; padding-bottom: 12px" type="submit" class="btn--primary btn--light text-white border-0 pe-4 ps-4 text-uppercase">submit</button>
                            </div>
                        </div>
                        <p class="pt-5 color--light--no-hover">There are no reviews yet.</p>
                    </div>
                </div>
            </div>
            <div class="tab__items--container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="board__reviews border--primary text-center p-4 mb-4">
                            <h1 class="font--primary color--light--no-hover mb-4">0</h1>
                            <div class="rating d-flex justify-content-center mb-2 fs-13 color--primary">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p class="fs-13 color--light--no-hover">0 Reviews, 0 Q&As</p>
                            <div class="rating--percent mb-4 fs-13">
                                <div class="d-flex justify-content-center align-items-center mb-2">
                                    <span>5 Stars</span>
                                    <span style="height: 4px; border-radius: 99999px" class=" flex-grow-1 bg--primary ms-3 me-3"></span>
                                    <span>0%</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center mb-2">
                                    <span>4 Stars</span>
                                    <span style="height: 4px; border-radius: 99999px" class=" flex-grow-1 bg--primary ms-3 me-3"></span>
                                    <span>0%</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center mb-2">
                                    <span>3 Stars</span>
                                    <span style="height: 4px; border-radius: 99999px" class=" flex-grow-1 bg--primary ms-3 me-3"></span>
                                    <span>0%</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center mb-2">
                                    <span>2 Stars</span>
                                    <span style="height: 4px; border-radius: 99999px" class=" flex-grow-1 bg--primary ms-3 me-3"></span>
                                    <span>0%</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center mb-2">
                                    <span>1 Stars</span>
                                    <span style="height: 4px; border-radius: 99999px" class=" flex-grow-1 bg--primary ms-3 me-3"></span>
                                    <span>0%</span>
                                </div>
                            </div>
                            <button type="submit" class="btn--primary btn--light text-white border-0 pt-2 pb-2 w-100 mb-2">Write a review</button>
                            <button type="submit" class="btn--primary btn--light text-white border-0 pt-2 pb-2 w-100 mb-2">Ask a Question</button>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="info pb-5 border-bottom-primary">
                            <div class="input--group mb-4">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="mb-2" for="">Name: <span class="text-danger">*</span></label>
                                        <input type="text" name="" id="" class="w-100">
                                    </div>
                                    <div class="col-6">
                                        <label class="mb-2" for="">Email: <span class="text-danger">*</span></label>
                                        <input type="text" name="" id="" class="w-100">
                                    </div>
                                </div>
                            </div>
                            <div class="input--group mb-4">
                                <label class="mb-2" for="">Your review</label>
                                <textarea type="text" name="" id="" class="w-100"></textarea>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button style="padding-top: 12px; padding-bottom: 12px" type="submit" class="btn--primary btn--light text-white border-0 pe-4 ps-4 text-uppercase">submit</button>
                            </div>
                        </div>
                        <p class="pt-5 color--light--no-hover">There are no reviews yet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="populated pt-5 mb-5 border-top-primary">
        <div class="w-50 m-auto pt-4">
            <h1 class="text-center font--primary mb-4 populated--title pb-4">Related Products</h1>
        </div>    
        <div class="populated--container container-xl">
            <ul class="product--list row p-0">
                {{#each (limit dataProduct 4)}}
                <li class="product--items col-lg-3 col-md-6 col-6">
                    <div class="product">
                        <div class="position-relative overflow-hidden">
                            <a class="" href="/product/{{this.slug}}">
                                <img class="w-100 h-100" src="{{this.image}}" alt="">
                            </a>
                            <button class="add-to-cart position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0 z-n1" data-id="{{this._id}}" data-bs-target="#modalCart" data-bs-toggle="modal">add to cart</button>
                            <ul class="product-action hidden-mobile-tablet position-absolute top-0 pt-3 end-0 pe-3">
                                <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class=" add-to-wishlist text-dark" href="#" data-bs-target="#ModalWishlist" data-bs-toggle="modal">
                                        <i class="fa-regular fa-heart" data-id="{{this._id}}"></i>
                                    </a>
                                </li>
                                <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark rotate-90" href="#">
                                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                    </a>
                                </li>
                                <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark btn-open-view" data-bs-toggle="modal" data-bs-target="#modalView" href="#">
                                        <i class="fa-solid fa-eye" data-id="{{this._id}}"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                {{#isPositive this.discount}}
                                <p class="label label--discount text-uppercase">-{{convertToPercent this.discount}}%</p>
                                {{/isPositive}}
                                {{#if this.hot}}
                                <p class="label label--hot text-uppercase">hot</p>
                                {{/if}}
                                {{#if this.new}}
                                <p class="label label--new text-uppercase">new</p>
                                {{/if}}
                            </ul>
                        </div>
                        <div class="product--content pt-4">
                            <h6 class="product--name text-uppercase text-center">{{this.category}}</h6>
                            <a href="#" class="product--desc text-uppercase text-center">{{this.name}}</a>
                            <p class="text-center">
                                <span class="pe-1 fs-5 fw-bold product--price">${{calcCurrentPrice this.cost this.discount}}</span>
                                {{#isPositive this.discount}}
                                <span class="product--cost"><del>${{this.cost}}</del></span>
                                {{/isPositive}}
                            </p>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </section>
</div>
<script>
    const productDesc = document.querySelector('.product--detail__desc');
    const string = productDesc.innerText;
    productDesc.innerHTML = string;
    $('.btn-plus, .btn-minus').on('click', function(e) {
        const isNegative = $(e.target).closest('.btn-minus').is('.btn-minus');
        const input = $(e.target).closest('.form-type-number').find('input');
        if (input.is('input')) {
            input[0][isNegative ? 'stepDown' : 'stepUp']()
        }
    })

    const ratingContainers = document.querySelectorAll('.rating__container');

    ratingContainers.forEach(ratingContainer => {
        ratingContainer.addEventListener('click', () => {
            for(var i = 0; i < ratingContainers.length; i++) {
                if(ratingContainer == ratingContainers[i]) {
                    ratingContainers[i].classList.add('active-hover');
                }else {
                    ratingContainers[i].classList.remove('active-hover');
                }
            }
        })
    })

    const tabPanes = document.querySelectorAll('.tab__panes');
    const tabItems = document.querySelectorAll('.tab__items--container');
    tabPanes.forEach(tabPane => {
        tabPane.addEventListener('click', () => {
            for(var i = 0; i < tabPanes.length; i++) {
                if(tabPane == tabPanes[i]) {
                    tabItems[i].classList.add('active');
                    tabPanes[i].classList.add('active');
                }else {
                    tabItems[i].classList.remove('active');
                    tabPanes[i].classList.remove('active');
                }
            }
        })
    })

    const btnAddToCart = $('.btn-add');
    
    if(btnAddToCart !== null) {
        btnAddToCart.click((e) => {
            if($( "#cart--container" ).hasClass("d-none")) {
                $('#cart--container').removeClass("d-none");
            }
            if($('#cart-noProduct').length === 1) {
                $('#cart-noProduct').addClass("d-none");
            }
            var total = 0;
            var isFound = false;
            var quantify = parseInt($('#quantity').val());
            var product_id = $(e.target).data('id');
            var product_name = $(e.target).parent().parent().parent().parent().children("div.router--detail").children("span").text();
            var product_price = parseInt(($(e.target).parent().parent().parent().parent().children("p.router--priceContainer").children("span#price").text()).replace("$", ""));
            var product_image = $(e.target).parent().parent().parent().parent().parent().children("div#img_container").children("div.product__detail--img").children("img").attr("src");
            $('#cartQuantity').html(`${parseInt($('#cartQuantity').text()) + quantify}`);
            $('.cartQuantity').html(`${parseInt($('.cartQuantity').text()) + quantify}`);
            for(const cartItem of $('.cart--items')) {
                if(cartItem.dataset.id === product_id) {
                    cartItem.querySelector('.product__items--quantify').innerText = parseInt(cartItem.querySelector('.product__items--quantify').innerText) + quantify;     
                    isFound = true;
                }
                total += parseInt(cartItem.querySelector('.product__items--quantify').innerText) * parseInt((cartItem.querySelector('.product__items--price').innerText).replace("$", ""));
            }
            if(!isFound) {
                if($('.cart--list').length === 0) {
                    $('#cart--container').append(`
                        <ul id="scroll-custom" style="overflow-y: overlay;" class="p-0 m-0 flex-grow-1 cart--list"></ul>
                        <div class="pt-4 w-100 border-top-primary cart--submit border-bottom-primary pb-4">
                                <p class="d-flex justify-content-between align-items-center">
                                    <span>Subtotal:</span>
                                    <span class=" fw-bold" id="subTotal">${{calcTotal session.carts}}</span>
                                </p>    
                                <button type="submit" class="btn--primary btn--light text-white text-uppercase border-0 pt-2 pb-2 w-100 mb-2">Check out</button>
                                <a class="text-center w-100 d-block color--light" href="/cart">View cart</a>
                        </div>
                    `);
                }
                $('.cart--list').append(`
                    <li class="pb-4 cart--items" data-id="${product_id}">
                        <div class="product__items d-flex align-items-center position-relative overflow-hidden">
                            <div class="product__items--img">
                                <img class="w-100 h-100" src="${product_image}" alt="">
                            </div>
                            <div class="product__items--content ms-3 me-4">
                                <a href="#" class="mb-2 text-decoration-none product__items--name">${product_name}</a>
                                <p class="m-0">
                                    <span class="product__items--quantify">${quantify}</span> x
                                    <span class="product__items--price">$${product_price}</span>
                                </p>
                            </div>
                            <a class="btn-delete clear--product position-absolute top-50 end-0 color--light" href="#" >
                                <i class="fa-regular fa-trash-can" data-id="${product_id}"></i>
                            </a>
                        </div>
                    </li>
                `)
                total += product_price;
            }
            $('#subTotal').html(`$${total}`);
            const carts = JSON.parse(localStorage.getItem('cart')) ?? [];
            const product = {
                product_id: product_id,
                product_image: product_image,
                product_name: product_name,
                product_price: product_price,
                quantify: quantify,
            }
            const checkProductExist = carts.find((cart) => cart.product_name === product.product_name);
            if(checkProductExist === undefined) {
                carts.push(product);
            }else {
                checkProductExist.quantify += parseInt(document.querySelector('#quantity').value); 
            }
            localStorage.setItem('cart', JSON.stringify(carts))
        })
    }

    $('.add-to-wishlist').click((e)=> {
        if($( "#wishlist-table" ).hasClass("d-none")) {
            $('#wishlist-table').removeClass("d-none");
        }
        if($('.no-wishlist').length === 1) {
            $('.no-wishlist').addClass("d-none");
        }
        var isFound = false;
        var product_id = $(e.target).data('id');
        if($(e.target)[0].nodeName.toLowerCase() == "i") {
            var product_name = $(e.target).parent().parent().parent().children("div.router--detail").children("span").text();
            var product_price = parseInt(($(e.target).parent().parent().parent().children("p.router--priceContainer").children("span#price").text()).replace("$", ""));
            var product_image = $(e.target).parent().parent().parent().parent().children("div#img_container").children("div.product__detail--img").children("img").attr("src");
        } else {
            console.log($(e.target)[0].nodeName.toLowerCase());
            var product_name = $(e.target).parent().parent().children("div.router--detail").children("span").text();
            var product_price = parseInt(($(e.target).parent().parent().children("p.router--priceContainer").children("span#price").text()).replace("$", ""));
            var product_image = $(e.target).parent().parent().parent().children("div#img_container").children("div.product__detail--img").children("img").attr("src");
        }
        var createAt = create();
        for(const wishlistItems of $('.wishlist--items')) {
            if(wishlistItems.dataset.id === product_id) {
                isFound = true;
            }
        }
        if(!isFound) {
            $('#wishlistQuantify').html(`${parseInt($('#wishlistQuantify').text()) + 1}`);
            $('.wishlistQuantify').html(`${parseInt($('.wishlistQuantify').text()) + 1}`);
            $('#tbody_wishlist').append(`
                <tr class="wishlist--items" data-id="${product_id}">
                    <td class="text-center"> 
                        <div class="wishlist__product--clear">
                            <i class="fa-solid fa-xmark" data-id="${product_id}"></i>
                        </div>
                    </td>
                    <td id="wishlist__img" class="text-center">
                        <div class="wishlist__product--img">
                            <a href="#">
                                <img width="80px" height="80px" src="${product_image}" alt="">
                            </a>
                        </div>
                    </td>
                    <td id="wishlist__content">
                        <div class="wishlist__product--content fs-15">
                            <a href="#" style="font-weight: 500;" class="fs-15 text--dark-hover text-dark text-decoration-none mb-1 d-inline-block">${product_name}</a>
                            <p class="color--light--no-hover mb-2">$${product_price}</p>
                            <p class="color--light--no-hover mb-1">${createAt}</p>
                        </div>                              
                    </td>
                    <td>
                        <div class="d-flex justify-content-center flex-column h-100">
                            <p class="color--light--no-hover mb-2">In Stock</p>
                            <a href="#" style="font-weight: 500;" data-bs-target="#modalCart" data-bs-toggle="modal" data-id="${product_id}" class="add-to-cart text--dark-hover text-dark text-decoration-none">Add to cart</a>
                        </div>
                    </td>
                </tr>
            `)
        }
        if($('#user_id').val() === undefined) {
            const wishlist = JSON.parse(localStorage.getItem('wishlist')) ?? [];
            const product = {
                product_id: product_id,
                product_image: product_image,
                product_name: product_name,
                product_price: product_price,
                createAt,
            }
            const checkProductExist = wishlist.find((item) => item.product_name === product.product_name);
            if(checkProductExist === undefined) {
                wishlist.push(product);
            }
            localStorage.setItem('wishlist', JSON.stringify(wishlist))
        } else {
            $.ajax({
                url: '/wishlist/add-to-wishlist/' + product_id,
                type: 'POST',
                data: {
                    product_id: product_id,
                    user_id: $('#user_id').val(),
                },
                success: function(response) {
                }
            });
        }
    })
    
</script>