<section class="banner">
    <div class="banner--items container position-relative h-100">
        <div class="content position-absolute top-50 translate-middle-y start-0">
            <div class="content__now d-inline-block rounded-pill bg-dark text-white pt-2 pb-2 ps-4 pe-4">
                <span>Now Available</span>
            </div>
            <p class="content__desc text-white mt-5 mb-5 lh-sm font--primary">Enchanted Garden Unisex Watch</p>
            <button class="btn--primary text-uppercase border-0 pt-3 pb-3 ps-5 pe-5">pre - order now</button>
        </div>
    </div>
</section>
<section class="mentor mt-4 mb-5">
    <div class="container-fluid">
        <div class="mentor--list row p-2">
        <div class="col-4">
            <a class="" href="#">
                <div class="mentor--items position-relative overflow-hidden">
                    <img class="w-100 h-100" src="/img/mentor-1.png" alt="">
                    <span class="position-absolute start-50 translate-middle-x text-white bottom-0 font--primary pb-5 fs-1 w-100 text-center">Dress Watches</span>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a class="" href="#">
                <div class="mentor--items position-relative overflow-hidden">
                    <img class="w-100 h-100" src="/img/mentor-2.png" alt="">
                    <span class="position-absolute start-50 translate-middle-x text-white bottom-0 font--primary pb-5 fs-1 w-100 text-center">Men's Watches</span>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a class="" href="#">
                <div class="mentor--items position-relative overflow-hidden">
                    <img class="w-100 h-100" src="/img/mentor-3.png" alt="">
                    <span class="position-absolute start-50 translate-middle-x text-white bottom-0 font--primary pb-5 fs-1 w-100 text-center">Women's Watches</span>
                </div>
            </a>
        </div>
    </div>
    </div>
</section>
<section class="populated pt-5 mb-5">
    <div class="w-50 m-auto">
        <h1 class="text-center font--primary mb-4 populated--title">Trending Now</h1>
        <p class="text-center fs-6 lh-lg pb-5">We are happy to introduce the new Lawson Collection. These are three quartz models
    designed with simplicity and elegance kept in mind</p>
    </div>
    <div class="populated--container container">
        <ul class="product--list row p-0">
            {{#if session.user}}
            <input type="hidden" name="" value="{{session.user._id}}" id="user_id">
            {{/if}}
            {{#each (limit products 3)}}
            <li class="product--items col-4">
                <div class="product">
                    <div class="position-relative overflow-hidden">
                        <a class="" href="/product/{{this.slug}}">
                            <img class="w-100 h-100" src="{{this.image}}" alt="">
                        </a>
                        <button class="add-to-cart position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0 z-n1" data-id="{{this._id}}" data-bs-target="#modalCart" data-bs-toggle="modal">add to cart</button>
                        <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                            <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                <a class="text-dark" href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                <a class="text-dark rotate-90" href="#">
                                    <i class="fa-solid fa-arrow-right-arrow-left"></i>

                                </a>
                            </li>
                            <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                <a class="text-dark" href="#">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                            {{#isPositive this.discount}}
                            <p class="label label--discount text-uppercase">-{{convertToPercent this.discount}}%</p>
                            {{/isPositive}}
                            {{#if this.hot}}
                            <p class="label label--hot text-uppercase">hot</p>
                            {{/if}}
                            {{#if this.new}}
                            <p class="label label--new text-uppercase">new</p>
                            {{/if}}
                        </ul>
                    </div>
                    <div class="product--content pt-4">
                        <h6 class="product--name text-uppercase text-center">{{this.category}}</h6>
                        <a href="#" class="product--desc text-uppercase text-center">{{this.name}}</a>
                        <p class="text-center">
                            <span class="pe-1 fs-5 fw-bold product--price">${{calcCurrentPrice this.cost this.discount}}</span>
                            {{#isPositive this.discount}}
                            <span><del>${{this.cost}}</del></span>
                            {{/isPositive}}
                        </p>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
<section class="populated pt-5 mb-5">
    <div class="container">
        <div class="populated__content">
            <div class="row align-items-center">
                <div class="col-7">
                    <div class="populated__img">
                        <img class="w-100 h-100" src="img/lenos.jpg" alt="">
                    </div>
                </div>
                <div class="col-5">
                    <div class="populated__items--desc align-self-center">
                        <h1 class="font--primary populated--title">Spring Winter 2022</h1>
                        <p class="mt-4 mb-4 lh-1-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <button class="btn--primary btn--dark text-white text-uppercase border-0 pt-3 pb-3 ps-5 pe-5 mt-4">shop the look</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="populated pt-5 mb-5">
    <div class="populated--banner position-relative">
        <div class="populated--content text-center position-absolute start-50 top-50 translate-middle text-white w-50">
            <p class="fs-4 lh-1">10% Off & The Best Indie Art Ever!</p>
            <h1 class="font--primary mt-5 mb-5" style="font-size: 80px">Be The First To <br> Get Limited Editions</h1>
            <button class="btn--primary text-uppercase border-0 pt-3 pb-3 ps-5 pe-5">shop new collection</button>
        </div>
    </div>
</section>
<section class="populated pt-5 mb-5">
    <div class="w-50 m-auto">
        <h1 class="text-center font--primary mb-4 populated--title">Feature Product</h1>
        <p class="text-center fs-6 lh-lg pb-5">Hurry up to own our best products on the occasion of discounts to <br> give to friends and relatives</p>
    </div>
    <div class="populated--container container">
        <ul class="product--list row p-0">
            {{#each (limit products 4)}}
            <li class="product--items col-3">
                <div class="product">
                    <div class="position-relative overflow-hidden">
                        <a class="" href="/product/{{this.slug}}">
                            <img class="w-100 h-100" src="{{this.image}}" alt="">
                        </a>
                        <button class="add-to-cart position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0 z-n1" data-id="{{this._id}}" data-bs-target="#modalCart" data-bs-toggle="modal">add to cart</button>
                        <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                            <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                <a class="text-dark" href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                <a class="text-dark rotate-90" href="#">
                                    <i class="fa-solid fa-arrow-right-arrow-left"></i>

                                </a>
                            </li>
                            <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                <a class="text-dark" href="#">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                            {{#isPositive this.discount}}
                            <p class="label label--discount text-uppercase">-{{convertToPercent this.discount}}%</p>
                            {{/isPositive}}
                            {{#if this.hot}}
                            <p class="label label--hot text-uppercase">hot</p>
                            {{/if}}
                            {{#if this.new}}
                            <p class="label label--new text-uppercase">new</p>
                            {{/if}}
                        </ul>
                    </div>
                    <div class="product--content pt-4">
                        <h6 class="product--name text-uppercase text-center">{{this.category}}</h6>
                        <a href="#" class="product--desc text-uppercase text-center">{{this.name}}</a>
                        <p class="text-center">
                            <span class="pe-1 fs-5 fw-bold product--price">${{calcCurrentPrice this.cost this.discount}}</span>
                            {{#isPositive this.discount}}
                            <span><del>${{this.cost}}</del></span>
                            {{/isPositive}}
                        </p>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
<section class="populated pt-5 pb-5">
    <div class="w-50 m-auto">
        <h1 class="text-center font--primary mb-4 populated--title">@lenos.store</h1>
        <p class="text-center fs-6 lh-lg pb-5">Follow us on Instagram</p>
    </div>
    <div class="populated--container container">
        <ul class="product--list row p-0">
            <li class="product--items col-2-4">
                <div class="instagram--img position-relative">
                    <img class="w-100" src="/img/insta-2.png" alt="">
                    <div class="position-absolute w-100 h-100 top-0 bg-dark d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-instagram text-white fs-2"></i>
                    </div>
                </div>
            </li>
            <li class="product--items col-2-4">
                <div class="instagram--img position-relative">
                    <img class="w-100" src="/img/insta-3.png" alt="">
                    <div class="position-absolute w-100 h-100 top-0 bg-dark d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-instagram text-white fs-2"></i>
                    </div>
                </div>
            </li>
            <li class="product--items col-2-4">
                <div class="instagram--img position-relative">
                    <img class="w-100" src="/img/insta-4.png" alt="">
                    <div class="position-absolute w-100 h-100 top-0 bg-dark d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-instagram text-white fs-2"></i>
                    </div>
                </div>
            </li>
            <li class="product--items col-2-4">
                <div class="instagram--img position-relative">
                    <img class="w-100" src="/img/insta-5.png" alt="">
                    <div class="position-absolute w-100 h-100 top-0 bg-dark d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-instagram text-white fs-2"></i>
                    </div>
                </div>
            </li>
            <li class="product--items col-2-4">
                <div class="instagram--img position-relative">
                    <img class="w-100" src="/img/insta-1.png" alt="">
                    <div class="position-absolute w-100 h-100 top-0 bg-dark d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-instagram text-white fs-2"></i>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<script>
    $(".add-to-cart").click((e) => {
        if($( "#cart--container" ).hasClass("d-none")) {
            $('#cart--container').removeClass("d-none");
        }
        if($('#cart-noProduct').length === 1) {
            $('#cart-noProduct').addClass("d-none");
        }
        if($('#cart-noProduct_1').length === 1) {
            $('#cart-noProduct_1').addClass("d-none");
        }
        var total = 0;
        var isFound = false;
        var product_id = $(e.target).data('id');
        var product_name = $(e.target).parent().parent().children("div.product--content").children("a.product--desc").text();
        var product_price = parseInt(($(e.target).parent().parent().children("div.product--content").children("p").children("span.product--price").text()).replace("$", ""));
        var product_image = $(e.target).parent().children("a").children("img").attr("src");
        $('#cartQuantity').html(`${parseInt($('#cartQuantity').text()) + 1}`);
        $('.cartQuantity').html(`${parseInt($('.cartQuantity').text()) + 1}`);
        for(const cartItem of $('.cart--items')) {
            if(cartItem.dataset.id === product_id) {
                cartItem.querySelector('.product__items--quantify').innerText = parseInt(cartItem.querySelector('.product__items--quantify').innerText) + 1;     
                isFound = true;
            }
            total += parseInt(cartItem.querySelector('.product__items--quantify').innerText) * parseInt((cartItem.querySelector('.product__items--price').innerText).replace("$", ""));
        }
        if(!isFound) {
            if($('.cart--list').length === 0) {
                $('#cart--container').append(`
                    <ul id="scroll-custom" style="overflow-y: overlay;" class="p-0 m-0 flex-grow-1 cart--list"></ul>
                    <div class="pt-4 w-100 border-top-primary cart--submit border-bottom-primary pb-4">
                            <p class="d-flex justify-content-between align-items-center">
                                <span>Subtotal:</span>
                                <span class=" fw-bold" id="subTotal">${{calcTotal session.carts}}</span>
                            </p>    
                            <a href="/checkout" class="d-block text-center text-decoration-none btn--primary btn--light text-white text-uppercase border-0 pt-2 pb-2 w-100 mb-2">Check out</a>
                            <a class="text-center w-100 d-block color--light" href="/cart">View cart</a>
                    </div>
                `);
            }
            $('.cart--list').append(`
                <li class="pb-4 cart--items" data-id="${product_id}">
                    <div class="product__items d-flex align-items-center position-relative overflow-hidden">
                        <div class="product__items--img">
                            <img class="w-100 h-100" src="${product_image}" alt="">
                        </div>
                        <div class="product__items--content ms-3 me-4">
                            <a href="#" class="mb-2 text-decoration-none product__items--name">${product_name}</a>
                            <p class="m-0">
                                <span class="product__items--quantify">1</span> x
                                <span class="product__items--price">$${product_price}</span>
                            </p>
                        </div>
                        <a class="btn-delete clear--product position-absolute top-50 end-0 color--light" href="#" >
                            <i class="fa-regular fa-trash-can" data-id="${product_id}"></i>
                        </a>
                    </div>
                </li>
            `)
            total += product_price;
        }
        $('#subTotal').html(`$${total}`);
        if($('#user_id').val() === undefined) {
            const carts = JSON.parse(localStorage.getItem('cart')) ?? [];
            const product = {
                product_id: product_id,
                product_image: product_image,
                product_name: product_name,
                product_price: product_price,
                quantify: 1,
            }
            const checkProductExist = carts.find((cart) => cart.product_name === product.product_name);
            if(checkProductExist === undefined) {
                carts.push(product);
            }else {
                checkProductExist.quantify += 1; 
            }
            localStorage.setItem('cart', JSON.stringify(carts))
        } else {
            $.ajax({
                url: '/cart/add-to-cart/' + product_id,
                type: 'POST',
                data: {
                    product_id: product_id,
                    user_id: $('#user_id').val(),
                    quantify: 1,
                    total_price: {type: Number, default: 0},
                },
                success: function(response) {
                }
            });
        }
    });
</script>