<section class="banner">
    <div class="banner--items container position-relative h-100">
        <div class="content position-absolute top-50 translate-middle-y start-0">
            <div class="content__now d-inline-block rounded-pill bg-dark text-white pt-2 pb-2 ps-4 pe-4">
                <span>Now Available</span>
            </div>
            <p class="content__desc text-white mt-5 mb-5 lh-sm font--primary">Enchanted Garden Unisex Watch</p>
            <button class="btn--primary text-uppercase border-0 pt-3 pb-3 ps-5 pe-5">pre - order now</button>
        </div>
    </div>
</section>
<section class="mentor mt-4 mb-5">
    <div class="container-fluid">
        <div class="mentor--list row p-2">
        <div class="col-4">
            <a class="" href="#">
                <div class="mentor--items position-relative overflow-hidden">
                    <img class="w-100 h-100" src="/img/mentor-1.png" alt="">
                    <span class="position-absolute start-50 translate-middle-x text-white bottom-0 font--primary pb-5 fs-1 w-100 text-center">Dress Watches</span>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a class="" href="#">
                <div class="mentor--items position-relative overflow-hidden">
                    <img class="w-100 h-100" src="/img/mentor-2.png" alt="">
                    <span class="position-absolute start-50 translate-middle-x text-white bottom-0 font--primary pb-5 fs-1 w-100 text-center">Men's Watches</span>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a class="" href="#">
                <div class="mentor--items position-relative overflow-hidden">
                    <img class="w-100 h-100" src="/img/mentor-3.png" alt="">
                    <span class="position-absolute start-50 translate-middle-x text-white bottom-0 font--primary pb-5 fs-1 w-100 text-center">Women's Watches</span>
                </div>
            </a>
        </div>
    </div>
    </div>
</section>
<section class="populated pt-5 mb-5">
    <div class="w-50 m-auto">
        <h1 class="text-center font--primary mb-4 populated--title">Trending Now</h1>
        <p class="text-center fs-6 lh-lg pb-5">We are happy to introduce the new Lawson Collection. These are three quartz models
    designed with simplicity and elegance kept in mind</p>
    </div>
    <div class="populated--container container">
        <ul class="product--list row p-0">
            {{#each products}}
            <li class="product--items col-4">
                <div class="product">
                    <a class="" href="/product/{{this.slug}}">
                        <div class="position-relative overflow-hidden">
                            <img class="w-100 h-100" src="{{this.image}}" alt="">
                            <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                            <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
                                </li>
                                <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark rotate-90" href="#">
                                        <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                    </a>
                                </li>
                                <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                {{#isPositive this.discount}}
                                <p class="label label--discount text-uppercase">-{{convertToPercent this.discount}}%</p>
                                {{/isPositive}}
                                {{#if this.hot}}
                                <p class="label label--hot text-uppercase">hot</p>
                                {{/if}}
                                {{#if this.new}}
                                <p class="label label--new text-uppercase">new</p>
                                {{/if}}
                            </ul>
                        </div>
                    </a>
                    <div class="product--content pt-4">
                        <h6 class="product--name text-uppercase text-center">{{this.category}}</h6>
                        <a href="#" class="product--desc text-uppercase text-center">{{this.name}}</a>
                        <p class="text-center">
                            <span class="pe-1 fs-5 fw-bold">${{calcCurrentPrice this.cost this.discount}}</span>
                            <span><del>${{this.cost}}</del></span>
                        </p>
                    </div>
                </div>
            </li>
            {{/each}}
            
        </ul>
    </div>
</section>
<section class="populated pt-5 mb-5">
    <div class="container">
        <div class="populated__content">
            <div class="row align-items-center">
                <div class="col-7">
                    <div class="populated__img">
                        <img class="w-100 h-100" src="img/lenos.jpg" alt="">
                    </div>
                </div>
                <div class="col-5">
                    <div class="populated__items--desc align-self-center">
                        <h1 class="font--primary populated--title">Spring Winter 2022</h1>
                        <p class="mt-4 mb-4 lh-1-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <button class="btn--primary btn--dark text-white text-uppercase border-0 pt-3 pb-3 ps-5 pe-5 mt-4">shop the look</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="populated pt-5 mb-5">
    <div class="populated--banner position-relative">
        <div class="populated--content text-center position-absolute start-50 top-50 translate-middle text-white w-50">
            <p class="fs-4 lh-1">10% Off & The Best Indie Art Ever!</p>
            <h1 class="font--primary mt-5 mb-5" style="font-size: 80px">Be The First To <br> Get Limited Editions</h1>
            <button class="btn--primary text-uppercase border-0 pt-3 pb-3 ps-5 pe-5">shop new collection</button>
        </div>
    </div>
</section>
<section class="populated pt-5 mb-5">
    <div class="w-50 m-auto">
        <h1 class="text-center font--primary mb-4 populated--title">Feature Product</h1>
        <p class="text-center fs-6 lh-lg pb-5">Hurry up to own our best products on the occasion of discounts to <br> give to friends and relatives</p>
    </div>
    <div class="populated--container container">
        <ul class="product--list row p-0">
            <li class="product--items col-3">
                <div class="product">
                    <a class="" href="#">
                        <div class="position-relative overflow-hidden">
                            <img class="w-100 h-100" src="/img/product-1.jpg" alt="">
                            <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                            <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
                                </li>
                                <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark rotate-90" href="#">
                                        <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                    </a>
                                </li>
                                <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                <p class="label label--discount text-uppercase">-51%</p>
                                <p class="label label--hot text-uppercase">hot</p>
                            </ul>
                        </div>
                    </a>
                    <div class="product--content pt-4">
                        <h6 class="product--name text-uppercase text-center">cocomi</h6>
                        <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                        <p class="text-center">
                            <span class="pe-1 fs-5 fw-bold">$225</span>
                            <span><del>$460</del></span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="product--items col-3">
                <div class="product">
                    <a class="" href="#">
                        <div class="position-relative overflow-hidden">
                            <img class="w-100 h-100" src="/img/product-2.jpg" alt="">
                            <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                            <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
                                </li>
                                <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark rotate-90" href="#">
                                        <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                    </a>
                                </li>
                                <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                <p class="label label--new text-uppercase">new</p>
                            </ul>
                        </div>
                    </a>
                    <div class="product--content pt-4">
                        <h6 class="product--name text-uppercase text-center">cocomi</h6>
                        <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                        <p class="text-center">
                            <span class="pe-1 fs-5 fw-bold">$225</span>
                            <span><del>$460</del></span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="product--items col-3">
                <div class="product">
                    <a class="" href="#">
                        <div class="position-relative overflow-hidden">
                            <img class="w-100 h-100" src="/img/product-3.jpg" alt="">
                            <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                            <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
                                </li>
                                <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark rotate-90" href="#">
                                        <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                    </a>
                                </li>
                                <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                            </ul>
                        </div>
                    </a>
                    <div class="product--content pt-4">
                        <h6 class="product--name text-uppercase text-center">cocomi</h6>
                        <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                        <p class="text-center">
                            <span class="pe-1 fs-5 fw-bold">$225</span>
                            <span><del>$460</del></span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="product--items col-3">
                <div class="product">
                    <a class="" href="#">
                        <div class="position-relative overflow-hidden">
                            <img class="w-100 h-100" src="/img/product-4.jpg" alt="">
                            <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                            <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
                                </li>
                                <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark rotate-90" href="#">
                                        <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                    </a>
                                </li>
                                <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                <p class="label label--discount text-uppercase">-31%</p>
                            </ul>
                        </div>
                    </a>
                    <div class="product--content pt-4">
                        <h6 class="product--name text-uppercase text-center">cocomi</h6>
                        <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                        <p class="text-center">
                            <span class="pe-1 fs-5 fw-bold">$225</span>
                            <span><del>$460</del></span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="populated pt-5 pb-5">
    <div class="w-50 m-auto">
        <h1 class="text-center font--primary mb-4 populated--title">@lenos.store</h1>
        <p class="text-center fs-6 lh-lg pb-5">Follow us on Instagram</p>
    </div>
    <div class="populated--container container">
        <ul class="product--list row p-0">
            <li class="product--items col-2-4">
                <div class="instagram--img position-relative">
                    <img class="w-100" src="/img/insta-2.png" alt="">
                    <div class="position-absolute w-100 h-100 top-0 bg-dark d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-instagram text-white fs-2"></i>
                    </div>
                </div>
            </li>
            <li class="product--items col-2-4">
                <div class="instagram--img position-relative">
                    <img class="w-100" src="/img/insta-3.png" alt="">
                    <div class="position-absolute w-100 h-100 top-0 bg-dark d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-instagram text-white fs-2"></i>
                    </div>
                </div>
            </li>
            <li class="product--items col-2-4">
                <div class="instagram--img position-relative">
                    <img class="w-100" src="/img/insta-4.png" alt="">
                    <div class="position-absolute w-100 h-100 top-0 bg-dark d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-instagram text-white fs-2"></i>
                    </div>
                </div>
            </li>
            <li class="product--items col-2-4">
                <div class="instagram--img position-relative">
                    <img class="w-100" src="/img/insta-5.png" alt="">
                    <div class="position-absolute w-100 h-100 top-0 bg-dark d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-instagram text-white fs-2"></i>
                    </div>
                </div>
            </li>
            <li class="product--items col-2-4">
                <div class="instagram--img position-relative">
                    <img class="w-100" src="/img/insta-1.png" alt="">
                    <div class="position-absolute w-100 h-100 top-0 bg-dark d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-instagram text-white fs-2"></i>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>