<div class="d-block text-center page-header shop">
    <h1 style="font-size: 55px;" class="font--primary text-white">Shop</h1>
    <div class="router--detail color--white--no-hover pb-4 text-center pt-4">
        <a href="/" class="color--white text-decoration-none">Home </a>/
        <span class="text-capitalize">Shop</span>
    </div>
</div>
<div class="pt-4">
    <div class="container-xl mt-5">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-3 col-md-3">
                <div class="sidebar">
                    <div class="sidebar__items mb-5">
                        <h4 class="font--primary mb-5">Categories</h4>
                        <ul class="mt-4 p-0">
                            {{#each (getCategory dataProduct)}}
                            <li class="d-flex color--light--no-hover mb-3">
                                <a class="text-dark text--dark-hover text-decoration-none flex-grow-1" href="/product/category/{{this.slug}}">{{this.name}}</a>
                                <span>({{this.quantify}})</span>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="sidebar__items">
                        <h4 class="font--primary mb-5">Product tags</h4>
                        <ul class="mt-4 p-0 d-flex flex-wrap">
                            <li class="me-2"> 
                                <a href="#" class="bg--white--hover border--primary text-decoration-none color--light pt-2 pb-2 pe-3 ps-3 lh-1 d-inline-block mb-2">Life Style</a>
                            </li>
                            <li class="me-2">
                                <a href="#" class="bg--white--hover border--primary text-decoration-none color--light pt-2 pb-2 pe-3 ps-3 lh-1 d-inline-block mb-2">Trend</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="shop">
                    <div class="d-flex justify-content-between mb-4 align-items-center flex-wrap gap-3">
                        <p class="color--light--no-hover mb-0">There are <span class="text-dark">{{lengthArr dataProduct}} products</span> available</p>
                        <div class="d-flex align-items-center">
                            <div class="me-5 color--light--no-hover">
                                <span class="text-dark me-2">Show</span>
                                <span class="text-dark me-2">12</span>
                                <span class="me-2">24</span>
                                <span>All</span>
                            </div>
                            <div class="border--primary position-relative">
                                <select style="outline: none; padding: 40px; padding-left: 30px" name="" id="" class="w-100 border-0 pt-2 pb-2">
                                    <option value="">Sort By Default sorting</option>
                                    <option value="">Sort By Default sorting</option>
                                    <option value="">Sort By Default sorting</option>
                                    <option value="">Sort By Default sorting</option>
                                </select>
                                <i class="fa-solid fa-caret-down position-absolute top-50 translate-middle-y end-0 pe-3"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{#each products}}
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="product">
                                <div class="position-relative overflow-hidden">
                                    <a class="" href="/product/{{this.slug}}">
                                        <img class="w-100 h-100" src="{{this.image}}" alt="">
                                    </a>
                                    <button class="add-to-cart position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0 z-n1" data-id="{{this._id}}" data-bs-target="#modalCart" data-bs-toggle="modal">add to cart</button>
                                    <ul class="hidden-mobile-tablet product-action position-absolute top-0 pt-3 end-0 pe-3">
                                        <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                            <a class=" add-to-wishlist text-dark" href="#" data-bs-target="#ModalWishlist" data-bs-toggle="modal">
                                                <i class="fa-regular fa-heart" data-id="{{this._id}}"></i>
                                            </a>
                                        </li>
                                        <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                            <a class="text-dark rotate-90" href="#">
                                                <i class="fa-solid fa-arrow-right-arrow-left"></i>

                                            </a>
                                        </li>
                                        <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                            <a class="text-dark btn-open-view" data-bs-toggle="modal" data-bs-target="#modalView" href="#">
                                                <i class="fa-solid fa-eye" data-id="{{this._id}}"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                        {{#isPositive this.discount}}
                                        <p class="label label--discount text-uppercase">-{{convertToPercent this.discount}}%</p>
                                        {{/isPositive}}
                                        {{#if this.hot}}
                                        <p class="label label--hot text-uppercase">hot</p>
                                        {{/if}}
                                        {{#if this.new}}
                                        <p class="label label--new text-uppercase">new</p>
                                        {{/if}}
                                    </ul>
                                </div>
                                <div class="product--content pt-4">
                                    <h6 class="product--name text-uppercase text-center">{{this.category}}</h6>
                                    <a href="#" class="product--desc text-uppercase text-center">{{this.name}}</a>
                                    <p class="text-center">
                                        <span class="pe-1 fs-5 fw-bold product--price">${{calcCurrentPrice this.cost this.discount}}</span>
                                        {{#isPositive this.discount}}
                                        <span class="product--cost"><del>${{this.cost}}</del></span>
                                        {{/isPositive}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="pagination mt-4 mb-5 d-flex justify-content-center" data-active="{{page_active}}" data-l-products="{{lengthArr dataProduct}}">
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
</div>
<script>
    
    $(document).on('click', '.add-to-cart', (e) => {
        if($( "#cart--container" ).hasClass("d-none")) {
            $('#cart--container').removeClass("d-none");
        }
        if($('#cart-noProduct_1').length === 1) {
            $('#cart-noProduct_1').addClass("d-none");
        }
        var total = 0;
        var isFound = false;
        var product_id = $(e.target).data('id');
        if($('input[name=quantify]').val() === undefined) {
            var quantify = 1;
        } else {
            var quantify = parseInt($('input[name=quantify]').val());
        }
        if($(e.target).attr('id') === 'addCartModalView') {
            console.log("addCartModalView");
            var product_name = $(e.target).parent().parent().parent().parent().children("h1.product--name").text();
            var product_price = parseInt(($(e.target).parent().parent().parent().parent().children("p.router--priceContainer").children("span#price").text()).replace("$", ""));
            var product_image = $(e.target).parent().parent().parent().parent().parent().children().children().children("img").attr("src");
            $('#modalView').modal('hide');
        }
        else if($(e.target)[0].nodeName.toLowerCase() == "button") {
            console.log("button");
            var product_name = $(e.target).parent().parent().children("div.product--content").children("a.product--desc").text();
            var product_price = parseInt(($(e.target).parent().parent().children("div.product--content").children("p").children("span.product--price").text()).replace("$", ""));
            var product_image = $(e.target).parent().children("a").children("img").attr("src");
        } else {
            console.log("a");
            var product_name = $(e.target).parent().parent().parent().children("td#wishlist__content").children("div.wishlist__product--content").children("a.wishlist__product--content-name").text();
            var product_price = parseInt(($(e.target).parent().parent().parent().children("td#wishlist__content").children("div.wishlist__product--content").children("p.wishlist__product--content-price").text()).replace("$", ""));
            var product_image = $(e.target).parent().parent().parent().children("td#wishlist__img").children("div.wishlist__product--img").children("a").children("img").attr("src");
        }
        
        $('#cartQuantity').html(`${parseInt($('#cartQuantity').text()) + quantify}`);
        $('.cartQuantity').html(`${parseInt($('.cartQuantity').text()) + quantify}`);
        for(const cartItem of $('.cart--items')) {
            if(cartItem.dataset.id === product_id) {
                cartItem.querySelector('.product__items--quantify').innerText = parseInt(cartItem.querySelector('.product__items--quantify').innerText) + quantify;     
                isFound = true;
            }
            total += parseInt(cartItem.querySelector('.product__items--quantify').innerText) * parseInt((cartItem.querySelector('.product__items--price').innerText).replace("$", ""));
        }
        if(!isFound) {
            if($('.cart--list').length === 0) {
                $('#cart--container').append(`
                    <ul id="scroll-custom" style="overflow-y: overlay;" class="p-0 m-0 flex-grow-1 cart--list"></ul>
                    <div class="pt-4 w-100 border-top-primary cart--submit border-bottom-primary pb-4">
                            <p class="d-flex justify-content-between align-items-center">
                                <span>Subtotal:</span>
                                <span class=" fw-bold" id="subTotal">${{calcTotal session.carts}}</span>
                            </p>    
                            <a href="/checkout" class="d-block text-center text-decoration-none btn--primary btn--light text-white text-uppercase border-0 pt-2 pb-2 w-100 mb-2">Check out</a>
                            <a class="text-center w-100 d-block color--light" href="/cart">View cart</a>
                    </div>
                `);
            }
            $('.cart--list').append(`
                <li class="pb-4 cart--items" data-id="${product_id}">
                    <div class="product__items d-flex align-items-center position-relative overflow-hidden">
                        <div class="product__items--img">
                            <img class="w-100 h-100" src="${product_image}" alt="">
                        </div>
                        <div class="product__items--content ms-3 me-4">
                            <a href="#" class="mb-2 text-decoration-none product__items--name">${product_name}</a>
                            <p class="m-0">
                                <span class="product__items--quantify">${quantify}</span> x
                                <span class="product__items--price">$${product_price}</span>
                            </p>
                        </div>
                        <a class="btn-delete clear--product position-absolute top-50 end-0 color--light" href="#" >
                            <i class="fa-regular fa-trash-can" data-id="${product_id}"></i>
                        </a>
                    </div>
                </li>
            `)
            total += product_price;
        }
        $('#subTotal').html(`$${total}`);
        if($('#user_id').val() === undefined) {
            const carts = JSON.parse(localStorage.getItem('cart')) ?? [];
            const product = {
                product_id: product_id,
                product_image: product_image,
                product_name: product_name,
                product_price: product_price,
                quantify: quantify,
            }
            const checkProductExist = carts.find((cart) => cart.product_name === product.product_name);
            if(checkProductExist === undefined) {
                carts.push(product);
            }else {
                checkProductExist.quantify += quantify; 
            }
            localStorage.setItem('cart', JSON.stringify(carts))
        } else {
            $.ajax({
                url: '/cart/add-to-cart/' + product_id,
                type: 'POST',
                data: {
                    product_id: product_id,
                    user_id: $('#user_id').val(),
                    quantify: quantify,
                    total_price: {type: Number, default: 0},
                },
                success: function(response) {
                }
            });
        }
    });
    
    $('.add-to-wishlist').click((e)=> {
        if($( "#wishlist-table" ).hasClass("d-none")) {
            $('#wishlist-table').removeClass("d-none");
        }
        if($('.no-wishlist').length === 1) {
            $('.no-wishlist').addClass("d-none");
        }
        var isFound = false;
        var product_id = $(e.target).data('id');
        var product_name = $(e.target).parent().parent().parent().parent().parent().children("div.product--content").children("a.product--desc").text();
        var product_price = parseInt(($(e.target).parent().parent().parent().parent().parent().children("div.product--content").children("p").children("span.product--price").text()).replace("$", ""));
        var product_image = $(e.target).parent().parent().parent().parent().children("a").children("img").attr("src");
        var createAt = create();
        for(const wishlistItems of $('.wishlist--items')) {
            if(wishlistItems.dataset.id === product_id) {
                isFound = true;
            }
        }
        if(!isFound) {
            $('#wishlistQuantify').html(`${parseInt($('#wishlistQuantify').text()) + 1}`);
            $('.wishlistQuantify').html(`${parseInt($('.wishlistQuantify').text()) + 1}`);
            $('#tbody_wishlist').append(`
                <tr class="wishlist--items" data-id="${product_id}">
                    <td class="text-center"> 
                        <div class="wishlist__product--clear">
                            <i class="fa-solid fa-xmark" data-id="${product_id}"></i>
                        </div>
                    </td>
                    <td id="wishlist__img" class="text-center">
                        <div class="wishlist__product--img">
                            <a href="#">
                                <img width="80px" height="80px" src="${product_image}" alt="">
                            </a>
                        </div>
                    </td>
                    <td id="wishlist__content">
                        <div class="wishlist__product--content fs-15">
                            <a href="#" style="font-weight: 500;" class="fs-15 text--dark-hover text-dark text-decoration-none mb-1 d-inline-block">${product_name}</a>
                            <p class="color--light--no-hover mb-2">$${product_price}</p>
                            <p class="color--light--no-hover mb-1">${createAt}</p>
                        </div>                              
                    </td>
                    <td>
                        <div class="d-flex justify-content-center flex-column h-100">
                            <p class="color--light--no-hover mb-2">In Stock</p>
                            <a href="#" style="font-weight: 500;" data-bs-target="#modalCart" data-bs-toggle="modal" data-id="${product_id}" class="add-to-cart text--dark-hover text-dark text-decoration-none">Add to cart</a>
                        </div>
                    </td>
                </tr>
            `)
        }
        if($('#user_id').val() === undefined) {
            const wishlist = JSON.parse(localStorage.getItem('wishlist')) ?? [];
            const product = {
                product_id: product_id,
                product_image: product_image,
                product_name: product_name,
                product_price: product_price,
                createAt,
            }
            const checkProductExist = wishlist.find((item) => item.product_name === product.product_name);
            if(checkProductExist === undefined) {
                wishlist.push(product);
            }
            localStorage.setItem('wishlist', JSON.stringify(wishlist))
        } else {
            $.ajax({
                url: '/wishlist/add-to-wishlist/' + product_id,
                type: 'POST',
                data: {
                    product_id: product_id,
                    user_id: $('#user_id').val(),
                },
                success: function(response) {
                }
            });
        }
    })

    $('.btn-open-view').click((e) => {
        var product_id = $(e.target).data('id');
        var product_name = $(e.target).parent().parent().parent().parent().parent().children("div.product--content").children("a.product--desc").text();
        var product_price = parseInt(($(e.target).parent().parent().parent().parent().parent().children("div.product--content").children("p").children("span.product--price").text()).replace("$", ""));
        var product_image = $(e.target).parent().parent().parent().parent().children("a").children("img").attr("src");
        var product_label = $(e.target).parent().parent().parent().parent().children("ul.product-label").html();
        var product_cost = ($(e.target).parent().parent().parent().parent().parent().children("div.product--content").children("p").children("span.product--cost").html()) ?? ""; 
        if($(e.target).parent().parent().parent().parent().children("ul.product-label").children("p.label--discount").text()) {
            var product_discount = 'Saved ' + ($(e.target).parent().parent().parent().parent().children("ul.product-label").children("p.label--discount").text()).replace("-", ""); 
        } else {
            var product_discount = "";
        }
        $('.modal__view--container').html(`
            <div class="row">
                <div class="col-6">
                    <div class=" position-relative">
                        <img class="w-100" src="${product_image}" alt="">
                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                            ${product_label}
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <h1 class="product--name font--primary text-uppercase fs-3 pt-2 ">${product_name}</h1>
                    <p class="pb-3 pt-2 router--priceContainer">
                        <span id="price" class="pe-1 fs-4 color--primary">$${product_price}</span>
                        <span class="fs-4">${product_cost}</span>
                        <span style="font-size: 12px;" class="ps-3 fw-bold">${product_discount}</span>
                    </p>
                    <div class="pt-4 pb-4 border-top-primary">
                        <p class="product--detail__desc color--light--no-hover">Donec accumsan auctor iaculis. Sed suscipit arcu ligula, at egestas magna molestie a. Proin ac ex maximus, ultrices justo</p>
                        <p class="color--primary fw-normal">In Stock</p>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-type-number border--primary d-flex h-100 align-items-center pe-3 ps-3">
                                    <div class="btn-minus fs-6">
                                        <i class="fa-solid fa-minus"></i>
                                    </div>
                                    <input value="1" class="w-100 h-100 border-0 text-center" id="quantity" min="1" name="quantify" type="number" />
                                    <div class="btn-plus fs-6 ">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <button type="submit" data-bs-target="#modalCart" data-bs-toggle="modal" data-id="${product_id}" id="addCartModalView" class="add-to-cart h-100 btn--primary btn--light text-white text-uppercase border-0 pt-2 pb-2 w-100">add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `)
    })
    $(document).on('click', '.btn-plus, .btn-minus',(e) => {
        const isNegative = $(e.target).closest('.btn-minus').is('.btn-minus');
        const input = $(e.target).closest('.form-type-number').find('input');
        if (input.is('input')) {
            input[0][isNegative ? 'stepDown' : 'stepUp']()
        }
    })
    
    const pagination = $('.pagination');
    const per_page = 12;
    const page_active = pagination.data('active');
    const product_quantify = pagination.data('l-products');
    if(product_quantify > per_page) {
        var html = page_active == 1 ? "" : `<a href="/shop/page/${page_active - 1}" style="height: 40px; width: 40px;" class=" d-flex justify-content-center align-items-center bg--white--hover border--primary text-decoration-none color--light lh-1 d-inline-block me-2"><i class="fa-solid fa-arrow-left-long fs-13"></i></a>`;
        for(var i = 0; i <= product_quantify/per_page; i++) {
            if(page_active == (i + 1)) {
                html += `<a href="/shop/page/${i+1}" style="height: 40px; width: 40px;" class="active d-flex justify-content-center align-items-center bg--white--hover border--primary text-decoration-none color--light lh-1 d-inline-block me-2">${i+1}</a>`
            } else {
                html += `<a href="/shop/page/${i+1}" style="height: 40px; width: 40px;" class="d-flex justify-content-center align-items-center bg--white--hover border--primary text-decoration-none color--light lh-1 d-inline-block me-2">${i+1}</a>`
            }
        }
        html += page_active == product_quantify - 1 ? "" : `<a href="/shop/page/${page_active + 1}" style="height: 40px; width: 40px;" class=" d-flex justify-content-center align-items-center bg--white--hover border--primary text-decoration-none color--light lh-1 d-inline-block me-2"><i class="fa-solid fa-arrow-right-long fs-13 "></i></a>`
        pagination.append(html);
    }

</script>