<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/app.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="wrapper" class=" overflow-hidden">
        <header class="header pt-4 pb-4">
            {{> header}}
        </header>
        <div class="main">
            {{{body}}}
        </div>
        <footer class="footer pt-3 mt-5">
            {{> footer}}
        </footer>
    </div>
    <div id="modalAccount" class="modal fade">
        <div style="width: 400px" class="modal-dialog m-0 position-absolute end-0 h-100">
            <div class="modal-content h-100">
                <div class="bg-white w-100 p-5">
                    <h1 class="font--primary fs-5 w-100 pb-4">Sign in</h1>
                    <form method="POST" action="/my-account/handleLogin" class="pt-4 pb-4 form-lg">
                        <div class="pb-3 input--group">
                            <label class="d-block mb-2 lh-1" for="">Username or Email Address</label>
                            <input class="w-100 p-2" type="email" name="email" id="">
                        </div>
                        <div class="input--group">
                            <label class="d-block mb-2 lh-1" for="">Password</label>
                            <input class="w-100 p-2" type="password" name="password" id="">
                        </div>
                        <div class="d-flex align-items-center justify-content-between pt-3 pb-3">
                            <div class="">
                                <input type="checkbox" name="" id="">
                                <label class="fs-6" for="">Remember Me</label>
                            </div>
                            <div class="">
                                <a class="color--light text-decoration-none" href="">Lost password?</a>
                            </div>
                        </div>
                        <button type="submit" class="btn--primary btn--light text-white text-uppercase border-0 pt-2 pb-2 w-100 mb-2">Log in</button>
                    </form>
                    <div class="pt-4 pb-4 text-center border-bottom-primary">
                        <p class="fs-6 fw-bold">No account yet?</p>
                        <a class=" text-uppercase lh-1 color--light" href="/my-account">create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalCart" class="modal fade">
        <div style="width: 400px" class="h-100 modal-dialog m-0 position-absolute end-0 ">
            <div class="modal-content h-100">
                <div style="max-height: 100vh;" class="bg-white w-100 p-5 d-flex flex-column h-100">
                    <h1 style="width: max-content" class="font--primary fs-5 pb-4 position-relative d-inline-block">Your cart
                        <span style="font-size: 0.7rem; right: -20px; top: -3px;" class="quantify position-absolute d-flex justify-content-center align-items-center text-white cartQuantity">{{cartQuantity}}</span>
                    </h1>
                    <div id="cart--container" class="overflow-auto content--cart border-top-primary pt-4 position-relative flex-grow-1 d-flex flex-column">
                        {{#if session.user}}
                        {{#if session.carts}}
                        <ul id="scroll-custom" style="overflow-y: overlay;" class="p-0 m-0 flex-grow-1 cart--list">
                            {{#each session.carts}}
                            <li class="pb-4 cart--items" data-id="{{this.product_id}}">
                                <div class="product__items d-flex align-items-center position-relative overflow-hidden">
                                    <div class="product__items--img">
                                        <img class="w-100 h-100" src="{{this.product_image}}" alt="">
                                    </div>
                                    <div class="product__items--content ms-3 me-4">
                                        <a href="#" class="mb-2 text-decoration-none product__items--name">{{this.product_name}}</a>
                                        <p class="m-0">
                                            <span class="product__items--quantify">{{this.quantify}}</span> x
                                            <span class="product__items--price">${{this.product_price}}</span>
                                        </p>
                                    </div>
                                    <a class="btn-delete clear--product position-absolute top-50 end-0 color--light" href="#" >
                                        <i class="fa-regular fa-trash-can" data-id="{{this.product_id}}" ></i>
                                    </a>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                        <div class="pt-4 w-100 border-top-primary cart--submit border-bottom-primary pb-4">
                            <p class="d-flex justify-content-between align-items-center">
                                <span>Subtotal:</span>
                                <span class=" fw-bold" id="subTotal">${{calcTotal session.carts}}</span>
                            </p>    
                            <a href="/checkout" class="d-block text-center text-decoration-none btn--primary btn--light text-white text-uppercase border-0 pt-2 pb-2 w-100 mb-2">Check out</a>
                            <a class="text-center w-100 d-block color--light" href="/cart">View cart</a>
                        </div>
                        {{else}}
                        <p id="cart-noProduct_1" class="ps-3">No products in the cart.</p>
                        {{/if}}
                        {{/if}}
                    </div>
                    <div id="cart-noProduct" class="border-top-primary pt-4 d-none">
                        <p class="ps-3">No products in the cart.</p>
                    </div>
                    <div class=" position-absolute bottom-0 pb-3 text-center end-0 w-100">Free shipping on all orders over $75</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalWishlist" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div style="max-width: 570px;" class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title text-white fs-15" id="modalTitleId">Wishlist (<span class="wishlistQuantify">{{lengthArr session.wishlist}}</span>)</h5>
                        <button style="background-color: transparent;" type="button" class="fs-15 text-white border-0" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                <div class="modal-body p-0">
                    <div class="container-fluid p-0">
                        {{#if session.wishlist}}
                        <table id="wishlist-table" class="table table-bordered m-0 table-striped">
                            <tbody id="tbody_wishlist">
                                {{#each session.wishlist}}
                                <tr class="wishlist--items" data-id="{{this.product_id}}">
                                    <td class="text-center"> 
                                        <div class="wishlist__product--clear" data-id="{{this.product_id}}">
                                            <i class="fa-solid fa-xmark" data-id="{{this.product_id}}"></i>
                                        </div>
                                    </td>
                                    <td id="wishlist__img" class="text-center">
                                        <div class="wishlist__product--img">
                                            <a href="#">
                                                <img width="80px" height="80px" src="{{this.product_image}}" alt="">
                                            </a>
                                        </div>
                                    </td>
                                    <td id="wishlist__content">
                                        <div class="wishlist__product--content fs-15">
                                            <a href="/product/{{this.product_slug}}" style="font-weight: 500;" class="wishlist__product--content-name fs-15 text--dark-hover text-dark text-decoration-none mb-1 d-inline-block">{{this.product_name}}</a>
                                            <p class="color--light--no-hover mb-2 wishlist__product--content-price">${{this.product_price}}</p>
                                            <p class="color--light--no-hover mb-1">{{formatDate this.createdAt}}</p>
                                        </div>                              
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center flex-column h-100">
                                            <p class="color--light--no-hover mb-2">In Stock</p>
                                            <a href="#" style="font-weight: 500;" data-bs-target="#modalCart" data-bs-toggle="modal" data-id="{{this.product_id}}" class="add-to-cart text--dark-hover text-dark text-decoration-none">Add to cart</a>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <p class="text-center pb-5 pt-3 no-wishlist color--light--no-hover d-none">There are no products on the wishlist!</p>
                        {{else}}
                            <table id="wishlist-table" class="table table-bordered m-0 table-striped">
                                <tbody id="tbody_wishlist"></tbody>
                            </table>
                            <p class="text-center pb-5 pt-3 no-wishlist color--light--no-hover d-none">There are no products on the wishlist!</p>
                        {{/if}}
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between bg-dark">
                    <a href="/wishlist" class=" text-uppercase fs-15 text-white">open wishlist page</a>
                    <a class=" text-uppercase fs-15 text-white" data-bs-dismiss="modal">continue shopping</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalView" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div style="max-width: 980px;" class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal__view--container">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalMenu" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div style="width: 300px" class="modal-dialog m-0 position-absolute end-0 h-100">
            <div class="modal-content h-100">
                <div class="bg-white w-100 p-5">
                    <ul class="p-0 m-0">
                        <li class="pb-3 pt-3 border-bottom-primary">
                            <a class="text-decoration-none text-dark text--dark-hover" href="/">Home</a>
                        </li>
                        <li class="pb-3 pt-3 border-bottom-primary">
                            <a class="text-decoration-none text-dark text--dark-hover" href="/about">About</a>
                        </li>
                        <li class="pb-3 pt-3 border-bottom-primary">
                            <a class="text-decoration-none text-dark text--dark-hover" href="/shop">Shop</a>
                        </li>
                        <li class="pb-3 pt-3 border-bottom-primary">
                            <a class="text-decoration-none text-dark text--dark-hover" href="/blogs">Blogs</a>
                        </li>
                        <li class="pb-3 pt-3 border-bottom-primary">
                            <a class="text-decoration-none text-dark text--dark-hover" href="/contact">Contacts</a>
                        </li>
                        <li class="pb-3 pt-3 border-bottom-primary">
                            <a class="text-decoration-none text-dark text--dark-hover" href="/my-account">My account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{#if session.user}}
        <input type="hidden" name="" value="{{session.user._id}}" id="user_id">
    {{/if}}
</body>
</html>
<script>
    if($('#user_id').val() === undefined) {
        const carts = JSON.parse(localStorage.getItem('cart')) ?? [];
        const wishlist = JSON.parse(localStorage.getItem('wishlist')) ?? [];
        renderWishlist(wishlist);
        renderCart(carts);
    }
    
    $(document).on('click', '.btn-delete', (e) => {
        var product_id = $(e.target).data('id');
        for(const cartItem of $('.cart--items')) {
            if(cartItem.dataset.id === product_id) {
                cartItem.remove();
                $('#cartQuantity').html(`${parseInt($('#cartQuantity').text()) - parseInt(cartItem.querySelector('.product__items--quantify').innerText)}`);
                $('.cartQuantity').html(`${parseInt($('.cartQuantity').text()) - parseInt(cartItem.querySelector('.product__items--quantify').innerText)}`);
            }
        }
        updateCart();
        if($('#user_id').val() === undefined) {
            var carts = JSON.parse(localStorage.getItem('cart')) ?? [];
            var indexCartItems = carts.findIndex((cart) => cart.product_id == product_id);
            if(indexCartItems > -1) {
                carts.splice(indexCartItems, 1);
            }
            localStorage.setItem('cart', JSON.stringify(carts));
        } else {
            $.ajax({
                url: '/cart/delete/' + product_id,
                type: 'DELETE',
            })
        }
    });

    $(document).on('click', '.wishlist__product--clear', (e) => {
        var product_id = $(e.target).data('id');
        for(const wishlistItems of $('.wishlist--items')) {
            if(wishlistItems.dataset.id === product_id) {
                wishlistItems.remove();
                $('#wishlistQuantify').html(`${parseInt($('#wishlistQuantify').text()) - 1}`);
                $('.wishlistQuantify').html(`${parseInt($('.wishlistQuantify').text()) - 1}`);
            }
        }
        if($('.wishlist--items').length == 0) {
            $('#wishlist-table').addClass('d-none');
            $('.no-wishlist').removeClass('d-none');
        }
        if($('#user_id').val() === undefined) {
            var wishlist = JSON.parse(localStorage.getItem('wishlist')) ?? [];
            var indexCartItems = wishlist.findIndex((item) => item.product_id == product_id);
            if(indexCartItems > -1) {
                wishlist.splice(indexCartItems, 1);
            }
            localStorage.setItem('wishlist', JSON.stringify(wishlist));
        } else {
            $.ajax({
                url: '/wishlist/delete/' + product_id,
                data: {
                    user_id: $('#user_id').val(),
                },
                type: 'DELETE',
            })
        }
    })

    function renderCart(carts) {
        const html = carts.map(cart => {
            return `
                <li class="pb-4 cart--items" data-id="${cart.product_id}">
                    <div class="product__items d-flex align-items-center position-relative overflow-hidden">
                        <div class="product__items--img">
                            <img class="w-100 h-100" src="${cart.product_image}" alt="">
                        </div>
                        <div class="product__items--content ms-3 me-4">
                            <a href="#" class="mb-2 text-decoration-none product__items--name">${cart.product_name}</a>
                            <p class="m-0">
                                <span class="product__items--quantify">${cart.quantify}</span> x
                                <span class="product__items--price">$${cart.product_price}</span>
                            </p>
                        </div>
                        <a class="btn-delete clear--product position-absolute top-50 end-0 color--light" href="#">
                            <i class="fa-regular fa-trash-can" data-id="${cart.product_id}"></i>
                        </a>
                    </div>
                </li>
            `
        })
        if($('.cart--list').length === 0) {
            $('#cart--container').append(`
                <ul id="scroll-custom" style="overflow-y: overlay;" class="p-0 m-0 flex-grow-1 cart--list"></ul>
                <div class="pt-4 w-100 border-top-primary cart--submit border-bottom-primary pb-4">
                        <p class="d-flex justify-content-between align-items-center">
                            <span>Subtotal:</span>
                            <span class=" fw-bold" id="subTotal">${{calcTotal session.carts}}</span>
                        </p>    
                        <a href="/checkout" class="d-block text-center text-decoration-none btn--primary btn--light text-white text-uppercase border-0 pt-2 pb-2 w-100 mb-2">Check out</a>
                        <a class="text-center w-100 d-block color--light" href="/cart">View cart</a>
                </div>
            `);
        }
        $('.cart--list').append(html.join(""));
        var cartQuantify = 0;
        for(const cart of carts) {
            cartQuantify += cart.quantify;
        }
        $('#cartQuantity').html(`${cartQuantify}`);
        $('.cartQuantity').html(`${cartQuantify}`);
        updateCart();
    }

    function renderWishlist(wishlist) {
        const html = wishlist.map(item => {
            return `
                <tr class="wishlist--items" data-id="${item.product_id}">
                    <td class="text-center"> 
                        <div class="wishlist__product--clear">
                            <i class="fa-solid fa-xmark" data-id="${item.product_id}"></i>
                        </div>
                    </td>
                    <td id="wishlist__img" class="text-center">
                        <div class="wishlist__product--img">
                            <a href="#">
                                <img width="80px" height="80px" src="${item.product_image}" alt="">
                            </a>
                        </div>
                    </td>
                    <td id="wishlist__content">
                        <div class="wishlist__product--content fs-15">
                            <a href="/product/${item.product_slug}" style="font-weight: 500;" class="fs-15 text--dark-hover text-dark text-decoration-none mb-1 d-inline-block">${item.product_name}</a>
                            <p class="color--light--no-hover mb-2">$${item.product_price}</p>
                            <p class="color--light--no-hover mb-1">June 6, 2023</p>
                        </div>                              
                    </td>
                    <td>
                        <div class="d-flex justify-content-center flex-column h-100">
                            <p class="color--light--no-hover mb-2">In Stock</p>
                            <a href="#" style="font-weight: 500;" data-bs-target="#modalCart" data-bs-toggle="modal" data-id="${item.product_id}" class="add-to-cart text--dark-hover text-dark text-decoration-none">Add to cart</a>
                        </div>
                    </td>
                </tr>
            `
        })
        $('#tbody_wishlist').append(html.join(""));
        var cartQuantify = 0;
        for(const item of wishlist) {
            cartQuantify += 1;
        }
        $('#wishlistQuantify').html(`${cartQuantify}`);
        $('.wishlistQuantify').html(`${cartQuantify}`);
    }
    
    function updateCart() {
        var total = 0;
        for(const cartItem of $('.cart--items')) {
            total += parseInt(cartItem.querySelector('.product__items--quantify').innerText) * parseInt((cartItem.querySelector('.product__items--price').innerText).replace("$", ""));
        }
        $('#subTotal').html(`$${total}`);
        if(total === 0) {
            $('#cart--container').addClass("d-none");
            $('#cart-noProduct').removeClass("d-none");
        }
    }

    function create() {
        const date = new Date();
        const options = {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
        };
        return date.toLocaleDateString('en-US', options);
    }
</script>