<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <header class="header pt-4 pb-4">
            {{> header}}
        </header>
        <div class="main">
            {{{body}}}
        </div>
        <footer class="footer pt-3 mt-5">
            {{> footer}}
        </footer>
    </div>
    <div id="modalAccount" class="modal fade">
        <div style="width: 400px" class="modal-dialog m-0 position-absolute end-0 h-100">
            <div class="modal-content h-100">
                <div class="bg-white w-100 p-5">
                    <h1 class="font--primary fs-5 w-100 pb-4">Sign in</h1>
                    <form method="POST" action="/my-account/handleLogin" class="pt-4 pb-4 form-lg">
                        <div class="pb-3 input--group">
                            <label class="d-block mb-2 lh-1" for="">Username or Email Address</label>
                            <input class="w-100 p-2" type="email" name="email" id="">
                        </div>
                        <div class="input--group">
                            <label class="d-block mb-2 lh-1" for="">Password</label>
                            <input class="w-100 p-2" type="password" name="password" id="">
                        </div>
                        <div class="d-flex align-items-center justify-content-between pt-3 pb-3">
                            <div class="">
                                <input type="checkbox" name="" id="">
                                <label class="fs-6" for="">Remember Me</label>
                            </div>
                            <div class="">
                                <a class="color--light text-decoration-none" href="">Lost password?</a>
                            </div>
                        </div>
                        <button type="submit" class="btn--primary btn--light text-white text-uppercase border-0 pt-2 pb-2 w-100 mb-2">Log in</button>
                    </form>
                    <div class="pt-4 pb-4 text-center border-bottom-primary">
                        <p class="fs-6 fw-bold">No account yet?</p>
                        <a class=" text-uppercase lh-1 color--light" href="/my-account">create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalCart" class="modal fade">
        <div style="width: 400px" class="h-100 modal-dialog m-0 position-absolute end-0 ">
            <div class="modal-content h-100">
                <div style="max-height: 100vh;" class="bg-white w-100 p-5 d-flex flex-column h-100">
                    <h1 style="width: max-content" class="font--primary fs-5 pb-4 position-relative d-inline-block">Your cart
                        <span style="font-size: 0.7rem; right: -20px; top: -3px;" class="quantify position-absolute d-flex justify-content-center align-items-center text-white cartQuantity">{{cartQuantity}}</span>
                    </h1>
                    <div id="cart--container" class="overflow-auto content--cart border-top-primary pt-4 position-relative flex-grow-1 d-flex flex-column">
                        {{#if session.user}}
                        {{#isPositive cartQuantity}}
                        <ul id="scroll-custom" style="overflow-y: overlay;" class="p-0 m-0 flex-grow-1 cart--list">
                            {{#each session.carts}}
                            <li class="pb-4 cart--items" data-id="{{this.product_id}}">
                                <div class="product__items d-flex align-items-center position-relative overflow-hidden">
                                    <div class="product__items--img">
                                        <img class="w-100 h-100" src="{{this.product_image}}" alt="">
                                    </div>
                                    <div class="product__items--content ms-3 me-4">
                                        <a href="#" class="mb-2 text-decoration-none product__items--name">{{this.product_name}}</a>
                                        <p class="m-0">
                                            <span class="product__items--quantify">{{this.quantify}}</span> x
                                            <span class="product__items--price">${{this.product_price}}</span>
                                        </p>
                                    </div>
                                    <a class="btn-delete clear--product position-absolute top-50 end-0 color--light" href="#" >
                                        <i class="fa-regular fa-trash-can" data-id="{{this.product_id}}" ></i>
                                    </a>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                        <div class="pt-4 w-100 border-top-primary cart--submit border-bottom-primary pb-4">
                            <p class="d-flex justify-content-between align-items-center">
                                <span>Subtotal:</span>
                                <span class=" fw-bold" id="subTotal">${{calcTotal session.carts}}</span>
                            </p>    
                            <button type="submit" class="btn--primary btn--light text-white text-uppercase border-0 pt-2 pb-2 w-100 mb-2">Check out</button>
                            <a class="text-center w-100 d-block color--light" href="/cart">View cart</a>
                        </div>
                        {{/isPositive}}
                        {{else}}
                        <p class="ps-3">No products in the cart.</p>
                        {{/if}}
                    </div>
                    <div id="cart-noProduct" class="border-top-primary pt-4 d-none">
                        <p class="ps-3">No products in the cart.</p>
                    </div>
                    <div class=" position-absolute bottom-0 pb-3 text-center end-0 w-100">Free shipping on all orders over $75</div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none loading__container d-flex justify-content-center align-items-center position-fixed top-0 bottom-0 end-0 start-0 z-n1">
        <i class="fa-solid fa-spinner fs-1 text-white"></i>
    </div>
</body>
</html>
<script>
    $('.btn-delete').click((e) => {
        var product_id = $(e.target).data('id');
        for(const cartItem of $('.cart--items')) {
            if(cartItem.dataset.id === product_id) {
                cartItem.remove();
                $('#cartQuantity').html(`${parseInt($('#cartQuantity').text()) - parseInt(cartItem.querySelector('.product__items--quantify').innerText)}`);
                $('.cartQuantity').html(`${parseInt($('.cartQuantity').text()) - parseInt(cartItem.querySelector('.product__items--quantify').innerText)}`);
            }
        }
        updateCart();
        $.ajax({
            url: '/cart/delete/' + product_id,
            type: 'DELETE',
        })
    })

    function updateCart() {
        var total = 0;
        for(const cartItem of $('.cart--items')) {
            total += parseInt(cartItem.querySelector('.product__items--quantify').innerText) * parseInt((cartItem.querySelector('.product__items--price').innerText).replace("$", ""));
        }
        $('#subTotal').html(`$${total}`);
        if(total === 0) {
            $('#cart--container').addClass("d-none");
            $('#cart-noProduct').removeClass("d-none");
        }
    }
</script>